<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="{% url 'add' %}" method="post">
        {% csrf_token %}
<table border="1">
    
<tr><th>Name :</th> <td><input type="text" name="name" ></td>   </tr> 
<tr><th>Roll no :</th><td><input type="number" name="roll" ></td> </tr>
<tr><th>City : </th><td><input type="text" name="city" ></td> </tr>
<tr><center><th><td><input type="submit" value="Add"></td></th></center></tr>


</table>

    

</form>
</body>
</html>